.tab-item {
  font-size: 20px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0.6;
  background: white;
  border: 0;
  outline: 0;
  text-wrap: nowrap;
}

.active-tab {
  font-weight: bold;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.tab-content {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 40px;
}

.active-content {
  display: flex;
}

.product_content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 3em 3em 3em;
}

.product_content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.product_content-title{
  padding: 1em;
  font-size: 24px;
}

.product_content-text {
  padding: 1em;
  font-size: 18px;
}
